includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - config
        - tests/App

    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true

    ignoreErrors:
        -
            message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
            identifier: larastan.noEnvCallsOutsideOfConfig
            path: config/elastica-bridge.php
