parameters:
	ignoreErrors:
		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/Commands/IndexCommand.php

		-
			message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/Commands/IndexCommand.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),Limenet\\LaravelElasticaBridge\\Model\\ElasticsearchableInterface\>\:\:each\(\) expects callable\(Limenet\\LaravelElasticaBridge\\Model\\ElasticsearchableInterface, int\|string\)\: mixed, Closure\(Illuminate\\Database\\Eloquent\\Model\)\: Illuminate\\Foundation\\Bus\\PendingDispatch given\.$#'
			identifier: argument.type
			count: 1
			path: src/Events/EventHandler.php

		-
			message: '#^Unable to resolve the template type TKey in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: src/Events/EventHandler.php

		-
			message: '#^Unable to resolve the template type TValue in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: src/Events/EventHandler.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\|Limenet\\LaravelElasticaBridge\\Model\\ElasticsearchableInterface\:\:getElasticsearchId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Index/AbstractIndex.php

		-
			message: '#^Method Limenet\\LaravelElasticaBridge\\Index\\AbstractIndex\:\:getMapping\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Index/AbstractIndex.php

		-
			message: '#^Method Limenet\\LaravelElasticaBridge\\Index\\AbstractIndex\:\:getSettings\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Index/AbstractIndex.php

		-
			message: '#^Method Limenet\\LaravelElasticaBridge\\Index\\IndexInterface\:\:getMapping\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Index/IndexInterface.php

		-
			message: '#^Method Limenet\\LaravelElasticaBridge\\Index\\IndexInterface\:\:getSettings\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Index/IndexInterface.php

		-
			message: '#^Cannot access offset ''events'' on Illuminate\\Contracts\\Foundation\\Application\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/LaravelElasticaBridgeServiceProvider.php

		-
			message: '#^Method Limenet\\LaravelElasticaBridge\\Tests\\App\\Elasticsearch\\CustomerIndex\:\:getMapping\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/App/Elasticsearch/CustomerIndex.php
